<?php

return [
    
    // Doctrine database connection.
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host'     => $dbParams['localhost'],
                    'port'     => '3306',
                    'user'     => $dbParams['username'],
                    'password' => $dbParams['password'],
                    'dbname'   => $dbParams['sodium'],
                ]
            ]
        ]
    ]
    
];